{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "experimentalTernaries": false,
    "embeddedLanguageFormatting": "off",
    "importOrder": ["^@/(.*)$", "^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": "*.{ts,tsx,js,jsx}",
            "options": {
                "importOrderParserPlugins": ["typescript", "decorators-legacy"],
                "printWidth": 100
            }
        },
        {
            "files": "manifest.json",
            "options": {
                "tabWidth": 2,
                "printWidth": 120
            }
        }
    ]
}
